.gdal_doc_cache*/
..Rcheck
build/gdal_repo/
inst/GDAL_VERSION_INFO.json
inst/cache/*.rds
/doc/
/Meta/
README.html
.github/development/
.github/GHA_LOGS/
vignettes/*.html
venv/
scratch/
.Rproj.user
*.Rproj
*.Rhistory
*.Rcheck/
*.tar.gz